{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'update-featured-products-section.js' | asset_url }}" defer="defer"></script>

<div class="featured-products" data-section-id="{{ section.id }}">
  <div class="featured-products__title title-wrapper--no-top-margin page-width">
    <h2 class="title">
      {{ section.settings.title }}
    </h2>
  </div>
  <div class="featured-products__cards page-width">
    <ul class="grid product-grid contains-card contains-card--product grid--2-col-desktop grid--1-col-tablet-down">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        {% assign cart_product_ids = cart.items | map: 'product_id' %}
        {% unless cart_product_ids contains product.id %}
          <li class="grid__item">
            {% render 'featured-card',
              product: product,
            %}
          </li>
        {% endunless %}
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Featured product custom",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "Product count"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Featured Products",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Featured product custom"
    }
  ]
}
{% endschema %}